:root {
  --darker: #141414;
  --dark: #242833;
  --medium: #444c61;
  --ligth: #a6a6a6;
  --ligther: #d1d1d1;
}

body {
  flex: auto;
  padding: none;
  margin: none;
  background-color: var(--ligther);
}

a {
  font-size: 0.8rem;
  color: var(--ligther);
  text-decoration: none;
  font-weight: bold;
  margin: none;
  padding: none;
}

/*-------------------- Barra inicial --------------------*/

#options_menu {
  display: flex;
  background-color: black;
  margin: none;
  padding: 0.3%;
  border: none;
  border-radius: 0.6rem;
}

#logo {
  margin-left: 25%;
  margin-top: auto;
  margin-bottom: auto;
  height: 4rem;
}

#barra_busqueda {
  margin-left: auto;
  margin-top: 0.5%;
  margin-bottom: auto;
  margin-top: auto;
  height: 1.6rem;
  width: 25%;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  outline: none;
}

input:focus {
  border: none;
  box-shadow: -0.1rem 0rem 1.2rem var(--ligth);
}

#search_button {
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  border: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

#lupa {
  height: 1rem;
  margin: none;
  padding: 0.23rem;
}

.btn_link {
  align-items: flex-end;
  margin-right: 1rem;
  background-color: var(--darker);
  padding: none;
  background-color: black;
  height: fit-content;
  padding: 0.9%;
  border: none;
  border-radius: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

#log_out_button {
  color: var(--ligther);
  font-weight: bold;
  display: none;
}

#log_out_button:hover {
  cursor: pointer;
}

#catalog_button {
  margin-right: none;
  margin-left: 3rem;
  background-color: var(--ligther);
  color: black;
}

#catalog_link {
  color: var(--dark);
}

#sing_up_button {
  background-color: var(--dark);
}

#sing_up_button:hover {
  background-color: var(--medium);
}

.log_btn:hover {
  background-color: var(--medium);
}

#catalog_button:hover {
  background-color: var(--ligth);
}

#home_button {
  margin-right: none;
  margin-left: 3rem;
  background-color: var(--darker);
}

#home_button:hover {
  background-color: var(--dark);
}

/* --------------------------------- Classes - Main section --------------------------------- */
.options_menu {
  background-color: black;
  display: flex;
}

.log_btn:hover {
  background-color: var(--medium);
}

/* ---------------------- Classes compleat of options ---------------------------------------- */
.btn_left {
  align-items: flex-end;
  margin-right: 1rem;
  padding: none;
  background-color: var(--medium);
  height: fit-content;
  padding: 5%;
  border: none;
  border-radius: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

#btn_left {
  margin-top: 1rem;
}

.btn_left:hover {
  background-color: var(--dark);
}

.list_options_plus_second_opcions {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 0rem;
  background-color: var(--ligth);
  display: flex;
}

/*------------------ list options left -----------------*/
.list_options_left 
{
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--medium);
}

/*-------------------------------------------- right -------------------------------------------*/
#letters-options
{
  color: black;
}

.list_options_right 
{
  background-color: white;
}

.tittle_box {
  background-color: var(--medium);
  padding-top: 1%;
}

.tittle {
  background-color: var(--medium);
  color: white;
  margin-left: 3%;
  font-size: 2rem;
  padding-bottom: 1%;
}

.list_products {
  background-color: white;
}

.img-of-the-list {
  height: 15rem;
  margin-left: 20%;
  padding-right: 2rem;
}

.btn-options {
  align-items: flex-end;
  margin-right: 1rem;
  background-color: var(--darker);
  padding: none;
  background-color: white;
  height: fit-content;
  padding: 2%;
  border: none;
  margin-left: 30%;
  margin-right: 5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-bottom: none;
}

#btn-options:hover {
  background-color: var(--ligth);
}

#options-box {
  padding: 2%;
}

#cost
{
  color: gray;
  text-align: center;
  margin-top: 1%;
  height: fit-content;
}

h5
{
  font-size: 150%;
}

/*------------------------ options  -----------------------*/
.for-line {
  display: flex;
}

/* Cosas que shmin sabe */
.logged {
  display: none;
}

.not_logged {
  display: none;
}

/* --------------------------- margin ------------------------*/
.margen
{
  padding-left: .1%;
  background-color: var(--medium);
}