:root 
{
    --darker: #141414;
    --dark: #242833;
    --medium: #444C61;
    --ligth: #A6A6A6;
    --ligther: #D1D1D1;
}

body 
{
    flex: auto;
    padding: none;
    margin: none;
    background-color: var(--ligther);
}

a
{
    font-size: 0.8rem;
    color: var(--ligther);
    text-decoration: none;
    font-weight: bold;
    margin: none;
    padding: none;
}


/*-------------------- Barra inicial --------------------*/ 

#options_menu{
    display: flex;
    background-color: black;
    margin: none;
    padding: 0.3%;
    border: none;
    border-radius: 0.6rem;
}


#logo
{
    margin-left: 25%;
    margin-top: auto;
    margin-bottom: auto;
    height: 4rem;
}

#barra_busqueda
{
    margin-left: auto;
    margin-top: 0.5%;
    margin-bottom: auto;
    margin-top: auto;
    height: 1.6rem;
    width: 25%;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

input:focus{
    border: none;
    box-shadow: -0.1rem 0rem 1.2rem var(--ligth);
}

#search_button
{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#lupa
{
    height: 1rem;
    margin: none;
    padding: 0.23rem;
}

.btn_link{
    align-items: flex-end;
    margin-right: 1rem;
    background-color: var(--darker);
    padding: none;
    background-color: black;
    height: fit-content;
    padding: 0.9%;
    border: none;
    border-radius: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

#catalog_button{
    margin-right: none;
    margin-left: 3rem;
    background-color: var(--ligther);
    color: black;
}

#catalog_link{
    color: var(--dark);
}

#sing_up_button
{
    background-color: var(--dark);
}

#sing_up_button:hover{
    background-color: var(--medium);
}

.log_btn:hover{
    background-color: var(--medium);
}

#catalog_button:hover{
    background-color: var(--ligth);
}

#home_button
{
    margin-right: none;
    margin-left: 3rem;
    background-color: var(--darker);
}

#home_button:hover{
    background-color: var(--dark);
}
/*------------------------------------------ list of products --------------------------------------*/ 
.list_of_products
{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 2%;
    background-color: var(--ligth);
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

/*-------------- Opcion one -------------*/
#first_box
{
    background-color: var(--medium);
    padding: 2rem;
}

.imgs_electroforming
{
    width: 100%;
    margin: auto;
    margin-top: 0%;
    overflow: hidden;
}
.imgs_electroforming ul
{
    display: flex;
    padding: 0%;
    width: 300%;
    
    animation: cambio 50s infinite;
}

.imgs_electroforming li
{
    width: 100%;
    list-style: none;
    text-align: center;
}

.imgs_electroforming img
{
    width: 80%;
}

@keyframes cambio 
{
    0% {margin-left: 0%;}
    5% {margin-left: 0%;}

    10% {margin-left: -100%;}
    15% {margin-left: -100%;} 

    20% {margin-left: -200%;}
    25% {margin-left: -200%;}    
    
    30% {margin-left: -300%;}
    35% {margin-left: -300%;}    

    40% {margin-left: -400%;}
    45% {margin-left: -400%;}

    50% {margin-left: -500%;}
    55% {margin-left: -500%;}

    60% {margin-left: -600%;}
    65% {margin-left: -600%;}

    70% {margin-left: -700%;}
    75% {margin-left: -700%;}

    80% {margin-left: -800%;}
    85% {margin-left: -800%;}

    90% {margin-left: -900%;}
    100% {margin-left: -900%;}
}


#btn_electroforming
{
    margin-left: 45%;
    background-color: var(--dark);
    
}

#btn_electroforming:hover{
    background-color: var(--darker);
}

#btn_electroforming{
    color: var(--dark);
}

#leters-style1
{
    color: var(--ligther);
}

.btn_link-options
{
    align-items: flex-end;
    margin-right: 1rem;
    background-color: var(--darker);
    padding: none;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 0.9%;
    border: none;
    border-radius: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

/*-------------- Opcion two - chains -------------*/
#second_box
{
    background-color: var(--ligther);
}

.imgs-chains
{
    width: 100%;
    margin: auto;
    margin-top: 0%;
    overflow: hidden;
}
.imgs-chains ul
{
    display: flex;
    padding: 0%;
    width: 300%;
    
    animation: cambio2 50s infinite;
}

.imgs-chains li
{
    width: 100%;
    list-style: none;
    text-align: center;
}

.imgs-chains img
{
    width: 80%;
}

@keyframes cambio2 
{
    0% {margin-left: 0%;}
    5% {margin-left: 0%;}

    10% {margin-left: -100%;}
    15% {margin-left: -100%;} 

    20% {margin-left: -200%;}
    25% {margin-left: -200%;}    
    
    30% {margin-left: -300%;}
    35% {margin-left: -300%;}    

    40% {margin-left: -400%;}
    45% {margin-left: -400%;}

    50% {margin-left: -500%;}
    55% {margin-left: -500%;}

    60% {margin-left: -600%;}
    65% {margin-left: -600%;}

    70% {margin-left: -700%;}
    75% {margin-left: -700%;}

    80% {margin-left: -800%;}
    85% {margin-left: -800%;}

    90% {margin-left: -900%;}
    100% {margin-left: -900%;}
}

#chains-button
{
    margin-top: 2%;
    margin-left: 47.3%;
    background-color: white;
}

#chains-button:hover{
    background-color: beige;
}

#leters-style2
{
    color: black;
}

/*-------------- Opcion three - -------------*/
#third_box
{
    background-color: var(--medium);
    padding: 2%;
}

.imgs-buckler
{
    width: 100%;
    margin: auto;
    margin-top: 0%;
    overflow: hidden;
}
.imgs-buckler ul
{
    display: flex;
    padding: 0%;
    width: 300%;
    
    animation: cambio3 50s infinite;
}

.imgs-buckler li
{
    width: 100%;
    list-style: none;
    text-align: center;
}

.imgs-buckler img
{
    width: 80%;
}

@keyframes cambio3 
{
    0% {margin-left: 0%;}
    5% {margin-left: 0%;}

    10% {margin-left: -100%;}
    15% {margin-left: -100%;} 

    20% {margin-left: -200%;}
    25% {margin-left: -200%;}    
    
    30% {margin-left: -300%;}
    35% {margin-left: -300%;}    

    40% {margin-left: -400%;}
    45% {margin-left: -400%;}

    50% {margin-left: -500%;}
    55% {margin-left: -500%;}

    60% {margin-left: -600%;}
    65% {margin-left: -600%;}

    70% {margin-left: -700%;}
    75% {margin-left: -700%;}

    80% {margin-left: -800%;}
    85% {margin-left: -800%;}

    90% {margin-left: -900%;}
    100% {margin-left: -900%;}
}

#buckler-button
{
    margin-top: 2%;
    margin-left: 47.3%;
    background-color: var(--dark);
}

#buckler-button:hover{
    background-color: var(--darker);
}

/*----------------*/