:root 
{
    --darker: #141414;
    --dark: #242833;
    --medium: #444C61;
    --ligth: #A6A6A6;
    --ligther: #D1D1D1;
}

/* Barra inicial */ 

body 
{
    flex: auto;
    background-color: var(--ligther);
}
/* -------------------------- Letter of the options ------------------------ */
a
{
    font-size: 1rem;
    color: var(--ligther);
}


/* --------------------------- ID of main sections ----------------------------*/

#catalogos
{
    margin-left: 17.35%;
    margin-top: 0.3%;
    height: 60px;
}

#lupa
{
    height: 14px;
}

#search_button
{
    margin-left: 0.2rem;
    margin-top: 1.85rem;
    padding-bottom: 1.25rem;
    height: 14px;
}

#barra_busqueda
{
    margin-left: 23.1%;
    margin-top: 0.5%;
    margin-bottom: 1%;
    margin-top: 2%;
    height: 20px
}

#options-menu
{
    flex: auto;
    background-color: black;
}

#logo
{
    margin-left: 2%;
    margin-top: 0.3%;
    height: 60px;
}

#login
{
    margin-left: 1rem;
    background-color: var(--darker);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: black;
}  

#sing_up
{
    margin-left: 1rem;
    background-color: var(--darker);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; 
    background-color: black;
}

#list

{
    margin-left: 1rem;
    background-color: var(--darker);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: black;
}  

/* ----------------------------- List options generals ----------------------------*/

#electroforming_option
{
    padding-bottom: 1rem;
}

#chains_option
{
    padding-bottom: 1rem;
}

#hooped_option
{
    padding-bottom: 1rem;
}

#rings_option
{
    padding-bottom: 1rem;
}



/* --------------------------------- Classes - Main section --------------------------------- */
.options_menu
{
    background-color: black;
    display: flex;
}

/* ---------------------- Classes compleat of options ---------------------------------------- */
.list_options_plus_second_opcions
{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: var(--ligth);
    display: flex;
}

/*------------------ list options left -----------------*/
.list_options_left
{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: var(--medium);

}