:root 
{
    --darker: #141414;
    --dark: #242833;
    --medium: #444C61;
    --ligth: #A6A6A6;
    --ligther: #D1D1D1;
}

body 
{
    flex: auto;
    padding: none;
    margin: none;
    background-color: var(--ligther);
}

a
{
    font-size: 0.8rem;
    color: var(--ligther);
    text-decoration: none;
    font-weight: bold;
    margin: none;
    padding: none;
}


/*-------------------- Barra inicial --------------------*/ 

#options_menu{
    display: flex;
    background-color: black;
    margin: none;
    padding: 0.3%;
    border: none;
    border-radius: 0.6rem;
}


#logo
{
    margin-left: 25%;
    margin-top: auto;
    margin-bottom: auto;
    height: 4rem;
}

#barra_busqueda
{
    margin-left: auto;
    margin-top: 0.5%;
    margin-bottom: auto;
    margin-top: auto;
    height: 1.6rem;
    width: 25%;
    border: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    outline: none;
}

input:focus{
    border: none;
    box-shadow: -0.1rem 0rem 1.2rem var(--ligth);
}

#search_button
{
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    border: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#lupa
{
    height: 1rem;
    margin: none;
    padding: 0.23rem;
}

#box_button
{
  margin: none;
  background-color: black;
}

.imgbox
{
  height: 3rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}

.btn_link{
    align-items: flex-end;
    margin-right: 1rem;
    background-color: var(--darker);
    padding: none;
    background-color: black;
    height: fit-content;
    padding: 0.9%;
    border: none;
    border-radius: 2rem;
    margin-top: auto;
    margin-bottom: auto;
}

#catalog_button{
    margin-right: none;
    margin-left: 3rem;
    background-color: var(--ligther);
    color: black;
}

#catalog_link{
    color: var(--dark);
}

#sing_up_button
{
    background-color: var(--dark);
}

#sing_up_button:hover{
    background-color: var(--medium);
}

.log_btn:hover{
    background-color: var(--medium);
}

#catalog_button:hover{
    background-color: var(--ligth);
}

/*---------------------------------------- end of main--------------------------------------*/
.box-information
{
    margin-right: 8%;
    margin-left: 8%;
    background-color: var(--dark);
}

.tittle-of-the-ring
{
    margin: none;
    text-align: center;
    background-color: var(--ligth);
}

h1
{
    font-size: 350%;
    color: var(--dark);
    font-weight: lighter;
}

.box-in-box-inf
{
    background-color: var(--dark);
    display: flex;
}

.the-imgs
{
    width: 90%;
}
.slider-of-img 
{
    width: 70%;
    margin: auto;
    margin-top: 0%;
    overflow: hidden;
    text-align: left;
}

.slider-of-img ul 
{
    display: flex;
    padding: 0;
    width: 400%;
  
    animation: cambios 20s infinite;
}
  
.slider-of-img li 
{
    width: 100%;
    list-style: none;
    text-align: center;
}
  
.slider-of-img img {
    width: 100%;
  }
  
  @keyframes cambios {
    0% {margin-left: 0%;}
    15% {margin-left: 0%;}
  
    30% {margin-left: -100%;}
    45% {margin-left: -100%;}
  
    60% {margin-left: -200%;}
    75% {margin-left: -200%;}
  
    90% {margin-left: -300%;}
    100% {margin-left: -300%;}
  
  }

.inf-right
{
    margin: 0%;
    padding: 0%;
}

.section-inf
{
    margin-left: 0%;
    margin-right: 2%;
}

h2
{
    color: var(--ligther);
    font-weight: lighter;
    font-size: 2.5rem;
}


.imgcarro
{
    width: 5%;
}

h6
{
    font-size: 100%;
    font-weight: lighter;
    font-style: oblique;
    color: var(--ligther);
}


/*--------------------------- table caracteristicas ------------------------------*/
.table1
{
    margin-left: 15%;
    margin-top: 1%;
    width: 70%;
    color: var(--ligther);
}

.table2
{
    margin-left: 30%;
    margin-top: 4%;
    width: 40%;
    color: var(--ligther);
}

.agree-product
{
    margin-left: 0rem;
    display: flex;
    margin-top: 2%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.table3
{
    margin-left: 1%;
    color: white;
    border-color: var(--dark);
}


h4
{
    color: white;
    text-align: center;
}

.agreecantidad
{
    display: flex;

}

.menos
{
    width: 1.1rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 0rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.cant 
{
    margin-top: 0rem;
}

.mas
{
    width: 1.1rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.agree-box
{
    align-items: flex-end;
    margin-right: 1rem;
    background-color: var(--darker);
    padding: none;
    background-color: black;
    height: max-content;
    padding-left: 1%;
    padding-right: 1%;
    padding: 2%;
    border: none;
    border-radius: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.agree-box:hover
{
    background-color: var(--medium);
}


/* -------------------- EL H5 ES PARA COMENTARIOS IMPORTANTES COMO TERMINOS Y ASI O NOTAS DISCRETAS PERO IMPORTANTES ----------*/
h5
{
    color: var(--ligth);
    font-style: italic;
}

.box-especificaciones
{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding-bottom: 2%;
    margin-top: 2%;
}

h3
{
    font-size: 110%;
    color: var(--ligther);
    font-weight: lighter;
    text-align: justify;
}

.tittle-inf
{
    margin-left: 2%;
    font-weight: lighter;
    font-size: 150%;

}